
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* властивості спільні для всього HTML документу */
:root { 
    --title-color: black;   /* змінна*/
    --sub-text-color: #14a9ee;  /* змінна*/
    /* ДОДАВАТИ СЮДИ ВСІ КОЛЬОРИ І ДАТИ ЇМ ЗМІННІ */
    scroll-behavior: smooth;    /* плавна прокрутка*/
    font-family: 'Lato', sans-serif;  /*шрифт до всього документа*/
}

img {
    display: block;
    /* не дає картинкам вилазити за межі сторінки, потім задавати розміри у класах і т.д. */
    /* width: 100%;  */
}