@import "global.css";

.nav {
    display: block;
    background-color: #86bb46;
    overflow: hidden;
    /* якщо контенту більше то зайве ховається */
    top: 0;
    /* зверху сторінки */
    width: 100%;     /* повна ширина */
    height: 75px;
}

.nav__menu {
    float: right;
    margin-right: 20px;
    margin-left: 299px;
}

.nav__logo {
    width: 100px;
}

/* стилізація лінків у наві*/
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-top: 6px;
    text-decoration: none;
    font-size: 17px;
}

/*зміна кольору лінків у наві при наведенні*/
.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* зміна кольору активного лінка у меню */
.nav a.active {
    background-color: #9ec76c;
    color: white;
}

.services__image {
    width: 50%;
    float: left;
}

.solutions__box-image {
    border-radius: 50%;
    width: 350px;
}