@import "global.css";

.nav {
    display: block;
    background-color: #86bb46;
    overflow: hidden;
    /* якщо контенту більше то зайве ховається */
    top: 0;
    /* зверху сторінки */
    width: 100%;
    /* повна ширина */
}

.nav__logo {
    width: 150px;
}

/* стилізація лінків у наві*/
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-top: 6px;
    text-decoration: none;
    font-size: 17px;
}

/*зміна кольору лінків у наві при наведенні*/
.nav a:hover {
    background-color: #ddd;
    color: black;
}

/* зміна кольору активного лінка у меню */
.nav a.active {
    background-color: #74964b;
    color: white;

    /* секція з меню у наві вправо з марджіном */
    .nav__menu {
        float: right;
        margin-right: 20px;
    }

    .underheader__image {
        position: relative;
        height: 300px;
        width: 100%;
    }

    .underheader__text {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background-color: rgb(161, 160, 160);
        opacity: 0.85;
        color: var(--title-color); /* використання змінної з global.css */
        padding-left: 80px;
        padding-right: 20px;
        font-size: 50px;
        margin-bottom: 250px;
    }